.sidebar {
  box-sizing: border-box;
  float:left;
  width:150px;
  border-width: 100px 25px 100px 25px;
  border-style: dashed;
  border-color: black;
  background-color: hotpink; 
  padding: 10px;
  margin: 25px;
}

.main {
  width: 600px;
  padding-left: 10px;
  margin-left: 10px;
  border-width: 10px;
  border-color:indigo;
}

.logo {
  float: none;
}

img {
  float:right;
}

.bandphot{
  float: none;
}